@*
    Harrison1 COSC 470 2019

    File = PatientInformation.razor

    Author = Jackson Bates

    Date = 2019-11-19

    License = MIT

    Modification History

    Version        Author            Date                    Desc
    v 1.0        Jackson Bates        2019-11-19            Added Headers
    v 1.1        Taylor Adam          2019-11-27            Added the form component to this page
    v 1.2        Grayson King         2019-11-28            Added 'Back' button
    v 1.3        Jackson Bates        2019-12-2             Made finish appointment set flag rather than delete the appointment
    -->
*@
@page "/patientinfo/{patientListID}"
@using System.Net
@using HarrisPharmacy.App.Data
@using HarrisPharmacy.App.Data.Entities.Patients
@using HarrisPharmacy.App.Data.Entities.Appointments
@using HarrisPharmacy.App.Data.Interfaces
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@using HarrisPharmacy.App.Shared.Components
@using Microsoft.Data.SqlClient
@inject ApplicationDbContext Context
@inject NavigationManager NavigationManager
@inject IAppointmentService AppointmentService
@inject IPatientInfoService PatientInfoService

<h1>Patient Information</h1>
<p><b>Patient Name: </b> @FirstName @LastName</p>
<p><b>Health Care Number: </b></p>
<p><b>Sex: </b> @Sex</p>
<p><b>Age: </b> @Age</p>
<p><b>City:</b></p>
<p><b>Province:</b></p>
<p><b>Address:</b></p>
<p><b>Patient Notes:</b></p>

<textarea name="textarea" rows="10">Write something here</textarea>
<FormPickerComponent />
<div align="left">
    <button type="button" @onclick="@Back">Back</button>
</div>
<div align="right">
    <button type="button" @onclick="@FinishAppointment">Finish</button>
</div>

@code {
    [Parameter]
    public string patientListID { get; set; }
    private string FirstName;
    private string LastName;
    private string healthNumber;
    private string Age;
    private string Sex;
    private DateTime appointmentStartTime;
    Appointment appt;

    protected override async Task OnInitializedAsync()
    {
        appt = await AppointmentService.GetAppointmentAsync(patientListID);
        var patient = await PatientInfoService.GetPatientInformationAsync(appt.PatientId);
        FirstName = patient.FirstName;
        LastName = patient.LastName;
        Age = patient.Age;
        Sex = patient.Sex;
        appointmentStartTime = DateTime.Now;
    }

    public async void FinishAppointment()
    {
        await AppointmentService.SetAppointmentStateFinishedAsync(patientListID);
        appt.DurationInSeconds = (int)((DateTime.Now - appointmentStartTime).TotalSeconds);
        Context.Appointments.Update(appt);
        await Context.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }

    public async void Back()
    {
        NavigationManager.NavigateTo("/");
    }
}